body {
    margin-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Lato',serif;
    color: black;
    margin-bottom: 40px;
}

footer {
    /*margin: 50px 0;*/
    position:fixed;
    height: 35px;
    background-color: #41b5f3;
    bottom:0px; left:0px; right:0px;
    padding-top: 8px;
    color: white;
    z-index: 4;
    border-top: 1px solid black;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: gray;
}

.mich {
    font-family: Arial;
    font-weight: 800;
}

.divider {
    width: 40%;
}

p {
    font-family: Arial;
    font-size: 120%;
}

.footer-text {
    font-family: Arial;
    font-size: 95%;
}

.my-pic {
	width: 240px;
	height: auto;
	margin-top: 50px;
    border: 10px solid black;
}

.navbar {
	background-color: #41b5f3;
}

.navbar a {
    font-size: 95%;
}

@media (min-width: 768px) {
    .navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;
    }    

    .navbar-brand a {
        padding-left: 35px;
    }
}


.navbar-inverse .navbar-nav li a {
	color: white;
    text-align: center;
}

.navbar-inverse .navbar-brand a {
    color: white;
    text-align: center;
}

.navbar-inverse .navbar-brand a:hover {
    color: #f0f341;
    text-decoration: none;
}

.navbar-inverse .navbar-nav li:hover {
    background-color: #415cf3;
    border-radius: 4px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #f0f341;
}

.dropdown-menu {
    background-color: #41b5f3;
}

.dropdown-menu a:hover {
    color: #41b5f3;
}

.about {
    width: 70%;
    margin: auto;
    max-width: 700px;
}

.about_pic {
    margin: 0px auto 30px auto;
    text-align: center;
}

.about_pic img {
    width: 25%;
    min-width: 250px;
    max-width: 400px;
    height: auto;
    border: 10px solid black;
}

@media (max-width: 550px) {
    .about p {
        font-size: 13px;
    }
}

@media (min-width: 551px) {
    .about p {
        font-size: 15px;
    }
}

.contact {
    text-align: center;
}

form {
    text-align: center;
}

.cap {
    margin: auto;
}

.g-recaptcha {
    margin: 10px;
    display: inline-block;
}

input#email {
    border-width: 0.25px;
    border-color: #eeeeee;
}

input#name {
    border-width: 0.25px;
    border-color: #eeeeee;
}

input {
    border-width: 0.25px;
    border-color: #eeeeee;
}


.mtn_div {
    border: 1px dashed red;
}

.mtn_div a {
    padding-right: 0px;
}

.navbar-nav li a:nth-child(4) {
    padding: 0px;
    text-align: center;
}

.mtn {
    border: 1px solid red;
    height: 40px;
    width: auto;
}

/*
.collapse {
    border: 1px solid black;
}
*/

.img-responsive {
    margin: auto;
    height: 250px;
    width: auto;
    margin-top: 25px;
}

.gif {
    display: inline-block;
    margin: 15px;
    height: 102px;
    width: auto;
    text-align: center;
}

.bellman {
    vertical-align: center;
    margin-bottom: 
}

.anon {
    height: 160px;
    width: auto;
    display: inline;
}

.four {
    height: auto;
    width: 58%;
}

.fsm {
    width: 80%;
    height: auto;
}

.kili-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 53px auto 35px auto;
    text-align: center;
}

.kili-body {
    background-color: #8daadc;
}

.kili-container img {
    display: inline-block;
}

.kili-words {
    display: inline-block;
    color: white;
}

.kili-words p {
    font-family: Arial;
}

@media (min-width: 768px) {

    .kili-container img {
        max-height: 100%;
        max-width: 85%;
    }

    .kili-words {
        width: 12%;
        height: 100%;
        margin: 5% 1.5% 0px 1.5%;
        float: left;
    }

    .kili-words p {
        font-size: 16px;
    }

}

@media (max-width: 767px) {

    .kili-container img {
        max-height: 90%;
        max-width: 100%;
    }

    .kili-words {
        width: 60%;
        height: 100%;
    }

    .kili-words p {
        font-size: 12px;
    }

}







