body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Lato',serif;
    color: black;
}

footer {
    /*margin: 50px 0;*/
    position:fixed;
    height: 25px;
    background-color: #41b5f3;
    bottom:0px; left:0px; right:0px;
    margin: 10px 0px 0px 0px;
    padding-top: 3px;
    color: white;
    z-index: 4;
    border-top: 1px solid black;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: gray;
}

.pic {
	width: 180px;
	height: 180px;
	margin-top: 100px;
}

.navbar {
	background-color: #41b5f3;
}

.navbar-inverse .navbar-nav li a {
	color: white;
    text-align: center;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav li:hover {
    background-color: blue;
    border-radius: 4px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: yellow;
}

.navbar-inverse .navbar-brand:hover {
    color: yellow;
    background-color: blue;
    border-radius: 4px;
}

.about {
    width: 70%;
    margin: auto;
    max-width: 700px;
    border: 1px solid green;
}

.about_header {
    text-align: center;
}

.about_pic {
    margin: auto;
    text-align: center;
    border: 1px solid red;
}

.about_pic img {
    width: 20%;
    height: auto;
}

.contact {
    text-align: center;
}

form {
    text-align: center;
}

.cap {
    margin: auto;
}

.g-recaptcha {
    margin: 10px;
    display: inline-block;
}

input#email {
    border-width: 0.25px;
    border-color: #eeeeee;
}

input#name {
    border-width: 0.25px;
    border-color: #eeeeee;
}

input {
    border-width: 0.25px;
    border-color: #eeeeee;
}

.nav {
    border: 1px solid white;
    width: 81.5%;
}

.egg {
    border: 1px solid red;
    float: right;
}

/*
.collapse {
    border: 1px solid black;
}
*/







